{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Hello HomeController!{% endblock %}

{% block body %}

<section class="club">
    <div class="overlay">
        <div class="club__mainTitle">
            <h1 class=" title title--h1">
                LE JUDO : PLUS QU’UN ART MARTIAL, UNE ECOLE DE VIE
            </h1>
        </div>

        <div class="club__title">
            <h2 class="title title--h2">
                Notre club et ses valeurs
            </h2>
        </div>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ullam?
        </p>

        <a href="#" class="bouton bouton--secondary">Mon Club</a>
    </div>
</section>
<div class="double-section">
    <section class="horaire">
        <div class="overlay">
            <div class="title">
                <h2 class="title title--h2">Des entrainement adaptés pour tous </h2>
            </div>
            <p>Le tsunami club propose des cours poour tous les ages, du plus petits au plus grands</p>
            <a href="#" class="bouton bouton--secondary">Horaires</a>
        </div>
    </section>
    <section class="discipline">
        <div class="overlay">
            <div class="title">
                <h2 class="title title--h2">Une pratique variée</h2>
            </div>
            <p>Au-dela du judo, nous proposons plusieur disciplines associés afin d’etre au plus proche de vos objectifs</p>
            <a href="#" class="bouton bouton--secondary">Les disciplines</a>
        </div>
    </section>
</div>

{#
?       ================================================
*               Messages flashs
?       ================================================   
#}

    {#!  confirm inscription ref: RegistrationController l.122#}
    {% for message in app.flashes('confirm') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

{#
?       ================================================   
*               Fin Messages flashs 
?       ================================================   
#}



{% endblock %}
