{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Hello HomeController!{% endblock %}

{% block body %}

    {#? ================================================   #}
                {#* Messages flashs  #}
    {#? ================================================   #}

    {#!  confirm inscription ref: RegistrationController l.122#}
    {% for message in app.flashes('confirm') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {#? ================================================   #}
                {#*Fin Messages flashs  #}
    {#? ================================================   #}
    <div class="accueil">

        {# Section Presentation #}
        <section class="accueilSection">

            <div class="accueilSection__block">
                <h1 class="accueilSection__blockTitle" > Bienvenue sur le Site du Tsunami Club</h1>
            </div>

            <div class="accueilSection__block">
                <h2></h2>
                <div class="accueilSection__blockQui">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores sit omnis voluptatibus magni odio. Nihil quam impedit voluptates facere cupiditate fugiat dolorem incidunt exercitationem repellendus neque? Error nulla debitis eum?</p>
                </div>

            </div>

            <div class="accueilSection__block">
                <h2></h2>
                <div class="accueilSection__blockOu">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores sit omnis voluptatibus magni odio. Nihil quam impedit voluptates facere cupiditate fugiat dolorem incidunt exercitationem repellendus neque? Error nulla debitis eum?</p>
                </div>
            </div>

            <div class="accueilSection__block">
                <h2></h2>
                <div class="accueilSection__blockContact">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores sit omnis voluptatibus magni odio. Nihil quam impedit voluptates facere cupiditate fugiat dolorem incidunt exercitationem repellendus neque? Error nulla debitis eum?</p>
                </div>
            </div>

        </section>


        {# Section Evenement #}
        <section class="accueilSection">
            <h2> Evenement Recent</h2>
                <div class="pastEvent">

                    <article class="pastEvent__article">
                        <img src="https://via.placeholder.com/100" alt="">
                        <div>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, earum! Beatae illo voluptas qui omnis </p>
                        
                        </div>
                    </article>

                    <article class="pastEvent__article">
                        <img src="https://via.placeholder.com/100" alt="">
                        <div>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, earum! Beatae illo voluptas qui omnis </p>
                        
                        </div>
                    </article>

                    <article class="pastEvent__article">
                        <img src="https://via.placeholder.com/100" alt="">
                        <div>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, earum! Beatae illo voluptas qui omnis </p>
                        
                        </div>
                    </article>

                </div>
            <a href="#">
                Voir tout les evenements
            </a>
        </section>
    </div>

{% endblock %}
