{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Hello HomeController!{% endblock %}

{% block body %}

    {#? ================================================   #}
                {#* Messages flashs  #}
    {#? ================================================   #}

    {#!  confirm inscription ref: RegistrationController l.122#}
    {% for message in app.flashes('confirm') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {#? ================================================   #}
                {#*Fin Messages flashs  #}
    {#? ================================================   #}

{% endblock %}
