{% extends 'base.html.twig' %}

{% block title %}New Administratif{% endblock %}

{% block body %}
    <div class="administratifForm">
        <h1 class="title title--h1" >Administratif</h1>

        <a href="{{ path('app_administratif_index') }}" class="bouton bouton--retour">Retour</a>

        {{ include('administratif/_form.html.twig') }}

    </div>
    
{% endblock %}
{% block script %}
    <script>
        let toggleSwitchs = document.querySelectorAll(".toggle")
        
        toggle_on_off()
        
            </script>
{% endblock %}
