{% extends 'base.html.twig' %}

{% block title %}Adherant index{% endblock %}

{% block body %}
<div class="userIndex">

    <h1 class="title title--h1">Adherant index</h1>
    <div class="userIndex__bouton">
        <a href="" class="bouton bouton--primary">Retour</a>
        <a href="" class="bouton bouton--primary">Nouvel Adherant</a>
    </div>

    <form action="" class="userIndex__search">
        <input type="submit" value="rechercher" class="search--btn">
        <input type="text" name="" id="" class="search--input" placeholder="Rechercher nom,prenom,licence">
    </form>

    <div class="userIndex__filters">
        <div class="filters">
            
            <div class="filters__items">
                <p>Competiteur</p>
                <input type="checkbox" name="" id="" class="toggle toggle--off">
            </div>
            
            <div class="filters__items">
                <p>Kata</p>
                <input type="checkbox" name="" id="" class="toggle toggle--off">
            </div>
            
            <div class="filters__items">
                <p>Arbitre</p>
                <input type="checkbox" name="" id="" class="toggle toggle--off">
            </div>
            
            <div class="filters__items">
                <p>Commissaire</p>
                <input type="checkbox" name="" id="" class="toggle toggle--off">
            </div>
            
            <div class="filters__items">
                <p>Pole</p>
                <input type="checkbox" name="" id="" class="toggle toggle--off">
            </div>
            
            <div class="filters__items">
                <p>Professeur</p>
                <input type="checkbox" name="" id="" class="toggle toggle--off">
            </div>
            
            <div class="filters__items">
                <p>Impayer</p>
                <input type="checkbox" name="" id="" class="toggle toggle--off">
            </div>
            
            <div class="filters__items">
                <p>Non licencié</p>
                <input type="checkbox" name="" id="" class="toggle toggle--off">
            </div>
            
            <div class="filters__items">
                <p>Non validé</p>
                <input type="checkbox" name="" id="" class="toggle toggle--off">
            </div>
            
            <div class="filters__items">
                <p>Sans certificat</p>
                <input type="checkbox" name="" id="" class="toggle toggle--off">
            </div>

        </div>
        
        <div class="filters__select">
            
            <div class="select__grade">
                <select name="" id="">
                    <option value="">Grade</option>
                </select>
            </div>

            <div class="select__categorie">
                <select name="" id="">
                    <option value="">Catégorie</option>
                    <option value="Vétérant">Vétérant</option>
                    <option value="Sénior">Sénior</option>
                    <option value="Junior">Junior</option>
                    <option value="Cadet">Cadet</option>
                    <option value="Minime">Minime</option>
                    <option value="Poussin">Poussin</option>
                    <option value="Prépoussin">Prépoussin</option>
                    <option value="BabyJudo">BabyJudo</option>
                </select>
            </div>

        </div>

        <a href="#" class="bouton bouton--primary">Filtrer</a>
    </div>

    <div class="userIndex__grid">

    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>

        

    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    
        <div class="cell">
            <div class="cell--1">
                <p>NOM</p>
                <p>Prenom</p>
            </div>
            <div class="cell--1">
                <p>Grade</p>
                <p>Catégorie</p>
            </div>
            <div class="cell--2">nb°licence</div>
            <a href="#" class="bouton bouton--primary">Afficher</a>
        </div>


    </div>
</div>
{% endblock %}
