{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="login">
        <div class="loginForm">
            <h1 class="title title--h1">Reset your password</h1>
                <h2 class="title title--h2">
                    
                        Enter your email address and we will send you a
                        link to reset your password.
                    
                </h2>

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}

                <button class="bouton bouton--primary">
                    Envoyer
                </button>
            {{ form_end(requestForm) }}
        </div>
    </div>


{% endblock %}
