{% extends 'base.html.twig' %}

{% block title %}Hello UserlandingController!{% endblock %}

{% block body %}


<div class="userSpace">
    <h1 class="title title--h1"> Espace utilisateur</h1>
    <div class="userSpace__container">
        
        <div class="userSpace__container--user">
            <a href="" class="bouton bouton--primary"></a>
            <a href="" class="bouton bouton--primary"></a>
            <a href="" class="bouton bouton--primary"></a>
        </div>

        <div class="userSpace__container--admin">
            <a href="" class="bouton bouton--primary"></a>
            <a href="" class="bouton bouton--primary"></a>
        </div>
        
        <div class="userSpace__container--admin">
            <a href="" class="bouton bouton--primary"></a>
            <a href="" class="bouton bouton--primary"></a>
        </div>

    </div>
</div>
{% endblock %}
