{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Personne à contacter en cas d'urgence{% endblock %}

{% block body %}
<div class="contactForm">
    <h1 class='title title--h1'>Personne à contacter en cas d'urgence</h1>

    <a href="{{ path('app_urgence_index') }}" class="bouton bouton--retour">Retour</a>
    {{ include('urgence/_form.html.twig') }}

</div>
{% endblock %}
