{% extends 'base.html.twig' %}

{% block title %}Edit RoleClub{% endblock %}

{% block body %}
    <h1>Edit RoleClub</h1>

    {{ include('role_club/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_role_club_index') }}">back to list</a>

    {{ include('role_club/_delete_form.html.twig') }}
{% endblock %}
{% block script %}
    <script>
        let toggleSwitchs = document.querySelectorAll(".toggle")

        window.addEventListener('load',()=>{
            if(toggleSwitch.checked){

                    toggleSwitch.classList.remove("toggle--off");
                    toggleSwitch.classList.add("toggle--on");
                }
                else{
                    toggleSwitch.classList.remove("toggle--on");
                    toggleSwitch.classList.add("toggle--off");

                }
        })

        toggleSwitchs.forEach(toggleSwitch => {
            toggleSwitch.addEventListener('click',() => {
                console.log('hello')
                if(toggleSwitch.checked){

                    toggleSwitch.classList.remove("toggle--off");
                    toggleSwitch.classList.add("toggle--on");
                }
                else{
                    toggleSwitch.classList.remove("toggle--on");
                    toggleSwitch.classList.add("toggle--off");

                }
            })
        });
    </script>
{% endblock %}