
//? ======================================================
//*                     Flex
//? ======================================================

@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


@mixin flex-row-around{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
@mixin flex-row-between{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-column-evenly-start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin flex-column-center-start{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
@mixin flex-column-around{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



//? ======================================================
//*                    Border-radius
//? ======================================================

@mixin radius($radius){
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}


//? ======================================================
//*                     Bouton
//? ======================================================


@mixin bouton-size{
    height: clamp(50px,14vw,60px);
    width: clamp(250px,30vw,320px);

}

@mixin bouton-colors( $bg, $color,  $border){
    background-color: $bg;
    color: $color;
    border: $border;
}



//? ======================================================
//*                     Font
//? ======================================================

$font--title: Lato, sans-serif;



//? ======================================================
//*             Overlay
//? ======================================================

@mixin overlayImage($image){
    //! transition keyframe moche !
    // background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/"+$image);
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/"+$image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin overlay($colorOverlay){
    //! transition keyframe moche !
    // background: linear-gradient(transparent  0%, $colorOverlay $pourcent1,$colorOverlay 100%)  ;
    background-color: $colorOverlay  ;
}


//? ======================================================
//*             image background Responsive
//? ======================================================

@mixin fullSizeImage($image){
    background-image: url("../images/"+$image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


//? ======================================================
//*             Animation
//? ======================================================



