@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '_mixin.scss';


//? ===================================
//*           Initialisation      
//? ===================================


:root{
    *{
        font-family: Roboto, serif;
        
        box-sizing: border-box;
        margin:0;
        padding:0;
        font-size: 16px;
        a{
            text-decoration: none
        }
    }
}




//? ===================================
//*           TITRE     
//? ===================================

.title{
    font-family: $font--title;
    font-weight: 400;
    letter-spacing: 2px;
    // padding:1rem;

    &--h1{
        font-size: clamp(1.5rem, 1.2145rem + 1.4273vw, 2.5rem);
        text-align: center;
    }
    &--h2{
        font-size: clamp(1.25rem, 1.1786rem + 0.3568vw, 1.5rem);
        text-align: center;
    }
}
//? ===================================
//*                 Header/nav
//? ===================================

.header{
    background: linear-gradient(hsl(0deg,0%,80%),hsl(0deg,0%,40%));
    .nav{
        height: 7rem;
        
        font-size: 1.5rem;
        @include flex-row-around;

        .nav-link{
            color: hsl(235, 80%, 41%);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 4px;
                background-color: hsl(235, 80%, 41%);
                bottom: -5px;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .2s ease-in-out;
                }
            &:hover::before {
                transform-origin: left;
                transform: scaleX(1);
            }
        }
        
        
        &__menu{
            width: max(50vw,500px);
            @include flex-row-around;
        }
        &__connexion{
            @include flex-row-around;

            .nav-link{
                margin: 10px;
            }
        }
        //* Menu Burger
        &__burger{          
            display: none;

            .burger{
                height: 40px;
                width: 40px;
                @include flex-column-evenly-start;
                padding-inline: 5px ;

                &>span{
                    height: 4px;
                    
                    background-color: aqua;
                    @include radius(20px);

                    
                    
                }
                &>span:nth-child(1){
                    background-color: navy;
                    width: 15px;
                    
                }
                &>span:nth-child(2){
                    background-color: navy;
                    width: 22.5px;
                    
                }
                &>span:nth-child(3){
                    background-color: navy;
                    width: 30px;

                }
            }

        }

        &__mobile{
            position: absolute;
            top: 112px;
            left: -100%;

            width: 100%;
            

            padding-block: 1.25rem;

            background-color: hsl(0deg,0%,40%);
            @include flex-column-center;
            
            transition: left 0.3s ease-in-out;


                

            .nav-link{
                height: 3.2rem;
                width: 10rem;
                @include flex-row-center;
                border-bottom: 1px #00000050 solid;

                &:nth-child(1){

                    border-top: 1px #00000050 solid;
                }
                &::before{
                    content: none;
                }
            }
            .link-group{
                display: none;
            }
        }

        @media screen and (max-width:780px) {
            &__burger{
                display: block;
            }
            &__connexion{
                display:none
            }

            
                &__mobile{
                    .nav-link:nth-child(4){
                        border-top:#00000050 1px solid
                    }
                }
        }
        @media screen and (max-width:550px) {

            @include flex-row-between;
            padding-inline: 2rem;
            &__menu{
                display: none;
            }

            .link-group{
                display:flex;
            }
            &__mobile{
                .nav-link:nth-child(4){
                    border-top:none
                }
            }

        }
    }

    .nav__mobile--active{
        left : 0 !important;
    }

}

//? ===================================
//*                 Footer
//? ===================================

.footer{
    min-height: 15rem;
    padding-block: 2rem ;
    background: linear-gradient(
        hsla(240, 1%, 23%, 1),
        hsla(240, 1%, 15%, 1));
    @include flex-column-center;

    &__content{
        width: min(60vw,62.5rem);
        @include flex-row-between;
        margin: 1rem;
        
        .content{
            width: 12.5rem;
            text-align: center;
        }
    }
    &__contentLast{
        width: 60vw;
        margin-block: 1rem;
        @include flex-row-center;
        
    }

    @media screen and (max-width:780px) {
        &__content{
            @include flex-column-center;
            
            .content{
                margin: 1rem;
            }
        }
    }
}

//? ===================================
//*                 Main
//? ===================================

.main__container{
    min-height: 70vh;
}

//? ===================================
//*                 Bouton
//? ===================================

.bouton{
    @include radius(10px);
    @include bouton-size();
    @include flex-row-center();
    transition: 
        color 0.4s ease-in-out,
        background-color 0.4s ease-in-out;
    font-size: 1.5rem;
    
    &--primary{
        
        @include bouton-colors(hsl(0, 0%, 100%), #262626ff, none);

        &:hover{
            @include bouton-colors( hsla(0, 0%, 15%, 0.6), #fcfcfcff, #fcfcfcff 2px solid)
        }

    }
    &--secondary{
        
        @include bouton-colors( hsla(0, 0%, 15%, 0.4), #fcfcfcff, #fcfcfcff 2px solid);
        &:hover{
            @include bouton-colors(hsl(0, 0%, 70%), #262626ff, hsl(0, 0%, 70%) 2px solid)
        }
    }
//  &--connexion{
//      @include bouton-colors( hsla(0, 0%, 15%, 1), #fcfcfcff, none);
//      &:hover{
//          @include bouton-colors(hsl(0, 0%, 89%), #262626ff, none);
//      }
//  }
}


//? ===================================
//*                 Inputs
//? ===================================

.input{
    @include flex-column-center-start;
    margin-block: 0.5rem;

    .input--text{
        width: 15rem;
        height: 2rem;
        @include radius(10px);
        border:none;
        background-color: hsl(0, 0%, 80%);
    }
}    

//? ===================================
//*         Flash-Notification
//? ===================================
.flash-notice {
    
    min-height: 5em;
    padding-inline: 2rem;
    @include flex-row-center;
    @include radius(10px) ;
    
    &--info{
        background-color: hsl(185deg 86% 62% / 79%);
    }
    &--danger{
        background-color: rgba(228, 32, 32, 0.79);
    }
    &--warning{
        background-color: rgba(238, 154, 27, 0.79);
    }
    &--succes{
        background-color: rgba(75, 241, 103, 0.79);
    }
}

//? ===================================
//*         Toggle switch
//? ===================================
    

.toggle{
    appearance: none;
    border: black 1px solid;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    position:relative;
    transition: all 0.2s ease;
    

    &--on{
        background-color: hsl(121, 99%, 33%);

        &::after{
            content: "";
            background-color: hsl(34deg, 45%, 83%);
            height: 26px;
            width: 26px;
            border-radius: 50%;
            position: absolute;
            left: 1px;
            top: 1px;
        }
    }
    &--off{
        background-color: hsl(9, 100%, 40%);
        &::after{
            content: "";
            background-color: hsl(34deg, 45%, 83%);
            height: 26px;
            width: 26px;
            border-radius: 50%;
            position: absolute;
            left: 29px;
            top: 1px;
        }
    }
}
    






