@import '_mixin.scss';

.userShow{
    @include overlayImage('kata.webp');
    min-height: 80vh;
    color: hsl(0,0,100%);
    padding-block: 5rem;
    @include flex-column-around;

    .bouton{
        margin-block-start:1rem; 
        width: 250px;
    }

    &__id{
        color: #2d2d2d;
        @include flex-row-around;
        @include radius(15px);
        background-color: hsla(0, 0%, 100%, 0.8);
        padding: 1rem;
        margin-block:5rem;
        width: 1000px;
        height: 333px;

        
        .id__identity,
        .id__contact,
        .id__urgence
        {
            @include flex-column-between;
            padding: 1rem;
            width: 250px;
            height: 18.75rem;
            
            
            div{
                margin-block: 0.6rem;
                @include flex-row-around;
                width: 250px;
            }
        }
        

    }

    
    &__club{
        color: #2d2d2d;
        @include flex-row-around;
        width: 1000px;
        
        .club__categorie{
            background-color: hsla(0, 0%, 100%, 0.8);
            @include flex-column-around;
            justify-content: space-evenly!important;
            @include radius(15px);
            padding:1rem;
            width:400px;
            height:30.625rem
        }
        
        .club__role{
            background-color: hsla(0, 0%, 100%, 0.8);
            @include radius(15px);
            padding:1rem;
            width:400px;
            height:30.625rem;
            @include flex-column-center-stretch;
            
            &--item{
                @include flex-row-between;
                padding-inline: 4rem;
                margin-block: 0.7rem;
                
            }
            
            .bouton{
                margin-block-start:1rem; 
                width: 250px;
                align-self: center;
            }
        }
    }
    
    
    &__administratif{
        color: #2d2d2d;
        @include flex-column-around;
        @include radius(15px);
        background-color: hsla(0, 0%, 100%, 0.8);
        height: 18.625rem;
        width: 62.5rem;
        margin-block: 5rem;

        &>div{
            @include flex-row-around;
            width: 100%;
        }
    }
    
    .title{
        margin-block-end:1rem; 
    }
}
